node-red/flow.json
[
    {
        "id": "08e477980474e097",
        "type": "tab",
        "label": "CarePlus Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35928164fc165c65",
        "type": "mqtt in",
        "z": "08e477980474e097",
        "name": "CarePlus MQTT",
        "topic": "/careplus/health/metrics",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "8eb3546bd14161f7"
            ]
        ]
    },
    {
        "id": "8eb3546bd14161f7",
        "type": "json",
        "z": "08e477980474e097",
        "name": "Parse JSON",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "ce30c959e7e73d7e",
                "42078789f5baa6f2",
                "b63c546b5e226e82",
                "7e2b9af6d9f8e2fb",
                "2b7bc10011dc6de2"
            ]
        ]
    },
    {
        "id": "ce30c959e7e73d7e",
        "type": "debug",
        "z": "08e477980474e097",
        "name": "Debug completo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "42078789f5baa6f2",
        "type": "change",
        "z": "08e477980474e097",
        "name": "Extrai BPM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bpm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "3510699097176e55",
                "08cf9978bc6b8e75"
            ]
        ]
    },
    {
        "id": "b63c546b5e226e82",
        "type": "change",
        "z": "08e477980474e097",
        "name": "Extrai SpO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.spo2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "e66e2b77c3c7dc5b",
                "256e3d1fa139ceaf"
            ]
        ]
    },
    {
        "id": "3510699097176e55",
        "type": "ui-gauge",
        "z": "08e477980474e097",
        "name": "Heart Rate",
        "group": "ui_group",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "title": "Frequência Cardíaca (bpm)",
        "alwaysShowTitle": true,
        "units": "bpm",
        "icon": "mdi:heart",
        "prefix": "",
        "suffix": " bpm",
        "segments": [
            {
                "from": "40",
                "color": "#00aa00",
                "text": "Normal",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ffa500",
                "text": "Atenção",
                "textType": "label"
            },
            {
                "from": "110",
                "color": "#ff0000",
                "text": "Alto",
                "textType": "label"
            }
        ],
        "min": 40,
        "max": 130,
        "sizeThickness": 10,
        "sizeGap": 4,
        "sizeKeyThickness": 12,
        "className": "",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e66e2b77c3c7dc5b",
        "type": "ui-gauge",
        "z": "08e477980474e097",
        "name": "SpO2",
        "group": "ui_group",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "title": "Saturação de Oxigênio (SpO2)",
        "alwaysShowTitle": true,
        "units": "%",
        "icon": "mdi:lungs",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "90",
                "color": "#ff0000",
                "text": "Crítico",
                "textType": "label"
            },
            {
                "from": "94",
                "color": "#ffa500",
                "text": "Atenção",
                "textType": "label"
            },
            {
                "from": "97",
                "color": "#00aa00",
                "text": "Normal",
                "textType": "label"
            }
        ],
        "min": 90,
        "max": 100,
        "sizeThickness": 10,
        "sizeGap": 4,
        "sizeKeyThickness": 12,
        "className": "",
        "x": 800,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "08cf9978bc6b8e75",
        "type": "ui-chart",
        "z": "08e477980474e097",
        "group": "ui_group",
        "name": "",
        "label": "Histórico de BPM",
        "order": 12,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "256e3d1fa139ceaf",
        "type": "ui-chart",
        "z": "08e477980474e097",
        "group": "ui_group",
        "name": "",
        "label": "Histórico de SpO2",
        "order": 13,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 850,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7e2b9af6d9f8e2fb",
        "type": "function",
        "z": "08e477980474e097",
        "name": "Registrar Histórico",
        "func": "let historico = flow.get(\"historico\") || [];\n\nhistorico.push({\n    horario: new Date().toLocaleTimeString(\"pt-BR\"),\n    bpm: msg.payload.bpm,\n    spo2: msg.payload.spo2,\n    temperatura: msg.payload.temperature\n});\n\nif (historico.length > 20) {\n    historico.shift();\n}\n\nflow.set(\"historico\", historico);\n\nmsg.payload = historico;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "b3bcdd3ac04ccd83",
                "cf83d57a8b5f06db"
            ]
        ]
    },
    {
        "id": "b3bcdd3ac04ccd83",
        "type": "ui-table",
        "z": "08e477980474e097",
        "group": "ui_group",
        "name": "",
        "label": "Histórico",
        "order": 14,
        "width": "0",
        "height": "0",
        "maxrows": "10",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Horário",
                "key": "horario",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Bpm",
                "key": "bpm",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "SpO2",
                "key": "spo2",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Temperatura",
                "key": "temperatura",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7bc10011dc6de2",
        "type": "change",
        "z": "08e477980474e097",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "36873a2320a619a9"
            ]
        ]
    },
    {
        "id": "36873a2320a619a9",
        "type": "ui-gauge",
        "z": "08e477980474e097",
        "name": "Temperatura Corporal",
        "group": "ui_group",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Temperatura Corporal (°C)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "mdi:thermometer",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "35",
                "color": "#5cadd6",
                "text": "",
                "textType": "label"
            },
            {
                "from": "36.1",
                "color": "#11bd05",
                "text": "",
                "textType": "label"
            },
            {
                "from": "37.5",
                "color": "#eae553",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38.5",
                "color": "#e42121",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "35",
        "max": "41",
        "sizeThickness": "10",
        "sizeGap": 4,
        "sizeKeyThickness": "12",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cf83d57a8b5f06db",
        "type": "debug",
        "z": "08e477980474e097",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_group",
        "type": "ui-group",
        "name": "Health",
        "page": "ui_page",
        "width": "12",
        "height": "14",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "ui_page",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "ui_base",
        "path": "/",
        "icon": "",
        "layout": "grid",
        "theme": "b6d4ee869b90789b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_base",
        "type": "ui-base",
        "name": "CarePlus UI",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "headerContent": "page",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "b6d4ee869b90789b",
        "type": "ui-theme",
        "name": "Dragon",
        "colors": {
            "surface": "#3b82f6",
            "primary": "#e5e7eb",
            "bgPage": "#0b1020",
            "groupBg": "#151c32",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "7f272e6f02810e24",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]